<!DOCTYPE html>
<html>

<head>
    <title>Riddle me this</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
    <div class="text">
    <h1>Riddle me this</h1>
    <div class="riddle">
        <p>
            <%= riddle %>
        </p>
    </div>
    <p class="answer">
        <%= answer %>
    </p>
</div>

<form>
<input id="get" type="submit" value="New riddle" formaction="/new">
</form>

</body>

</html>